<!DOCTYPE html>
<html>
<head>
<include file="Public:metas"/>
<script>
 $(function() {
   $("#<{$action}>").addClass("<{$btn}>");
   var action="<{$action}>";
   if(action=="sort"){
     changeSort("goods","id","sort");
   } 
   
   //默认显示
 });
</script>
</head>
<body>
    <div>
        <div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10" id="biaoti">
                    
                    <ol class="breadcrumb" style="margin-top:20px;">
                        <li>
                            	商品管理
                        </li>
                        <li>
                            <strong><{$meta_title}></strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2" id="fubiaoti">
					<a href="<{:U('Goods/goodsAdd')}>" class="btn btn-xs btn-primary">商品添加</a>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-content animated fadeInRight">
            	<div style="margin-bottom:10px;">
				    <form class="submitform" action='' method='get' id='signupForm'>
				    <div style="margin-bottom:20px;">

            已售：
            <select name='is_sell' class="btn-sm btn-white">
              <option value="">请选择</option>
              <option value="1" id="is_sell1">是</option>
              <option value="0" id="is_sell0">否</option>
            </select>
            

  
            <input placeholder="请输入关键字" class="btn-sm btn-white" name="keyword" value="<{$keyword}>">
				    <button class="btn btn-sm btn-info" type="submit">查询</button>
            <button id="submit3" type="submit" class="btn btn-sm btn-danger">导出Excel报表</button>
				    </div>
				    </form>
			    </div>
            	<form class="submitform" action="<{:U('Goods/goodsHandle')}>" method="post">
              <div style="margin-bottom:10px;">
              
              
              </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            
                            <div class="ibox-content">
                                <div class="row">
                                    

                                    
                                </div>
                                <div class="table-responsive">
                                	<if condition="$types eq 'chose-order-goods'">
                                    <a class="btn btn-sm btn-info addOrder">
                                            	确认选择
                                    </a>&nbsp;
                                    </if>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <if condition="$action eq sort">
                                                <th></th>
                                                </if>
                                                <th><input type="checkbox" class="choseall" name=""></th>
                                                <th>ID</th>
                                                <th>商品名称</th>
                                                <th>作者</th>
                                                <th>销售状态</th>

                                            </tr>
                                        </thead>
                                        <tbody id="sortable">
                                        
                                        	<volist name="list" id="v">
                                            <tr class="grade0 one" name="<{$v.id}>" <if condition="$action eq sort">style="cursor:move;"</if>>

                                              <if condition="$action eq sort">
                                                <td id="0_<{$v.id}>" class="td_click">
                                                <i class="fa fa-arrows"></i>
                                                </td>
                                              </if>
                                                
                                                <td style="padding-top:10px;">
                                                    <input type="checkbox"  class='i-checks' value="<{$v.id}>" name="check[]">
                                                </td>
                                                
                                                
                                                <td>
                                                	<{$v.id}>
                                                </td>
                                                
                                                <td>
                                                		<{$v.goods_name}>
                                                </td>

                                                <td>
                                                    <{$v.artist_name}>
                                                </td>

                                                <td>
                                                    <if condition="$v.is_sell eq 0">
                                                    未售
                                                    <else />
                                                    已售
                                                    </if>
                                                </td>

                                                
                                            </tr>
                                            </volist>
                                        </tbody>
                                    </table>
                                    <!-- <if condition="$types eq 'chose-order-goods'">
                                    <a class="btn btn-sm btn-info addOrder">
                                            	确认选择
                                    </a>&nbsp;
                                    </if> -->
                                </div>
                                <div class="text-center">
                                    <if condition='$page neq null'>
                                    	<{$page}>
                                    <else/>
                                    	共<{$count}>条记录
                                    </if>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    $().ready(function(){
      $("#is_sell<{$is_sell}>").prop("selected","selected");

      $("#submit3").click(function(){
            $(".submitform").attr("action","<{:U('Goods/goodsSellExport')}>");
        })

    })
    </script>
</body>

</html>
