<!DOCTYPE html>
<html>
<head>
   <include file="Public:metas"/>
   <style>
	.nav>li>a i {margin-right:0px;}
   </style>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <include file="Public:menu"/>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header" style="width:auto;margin-right:10px;">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="javascript:">
                    <i class="fa fa-list"></i> 
                    </a>
                        <!-- <form role="search" class="navbar-form-custom" method="post" action="">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                            </div>
                        </form> -->
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                    	
                    	
                    	<li>
                            <a id="refresh" title="刷新">
                                <i class="fa fa-refresh"></i>
                            </a>
                            <script>
                            $().ready(function(){
                            	$("#refresh").click(function(){
                            		var src=$(".active.J_menuTab").attr('data-id');//获取当前链接的。
                            		$(".J_iframe").each(function(){
                            			if(this.style.display != 'none'){
                            				var name=$(this).attr('name');
                            				window.frames[name].location.reload();
                            			}
                            		})
                            	})
                            })
                            </script>
                        </li>
                        
                        <li>
                            <a id="refresh" title="后退" onclick="javascript:history.back(-1);">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </li>
                    
                    	<li>
                            <a class="dropdown count-info J_menuItem" data-toggle="dropdown" href="<{:U('Message/receiveList')}>">
                                <i class="fa fa-bell"></i> 
                                <if condition="$noReadNum gt 0">
                                <span class="label label-danger noread" title="已接收"><{$noReadNum}></span>
                                </if>
                            </a>
                        </li>
                        
                   		<li>
			    	         <a onclick="del('<{:U('Public/lockscreen')}>','确定锁定系统么？','3','锁定','暂不锁定')"  title="锁定">
				             	<i class="fa fa-lock"></i>
				             </a>
				        </li>
				        <li>
			             <a class="clean"  title="清除缓存">
			             	<i class="fa fa-trash"></i> <!-- 清理 -->
			             </a>
			             <div class="clean-warn" style="display:none;">
			             <div class="clean-loading sk-spinner sk-spinner-circle">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>
			             </div>
			             <script type="text/javascript">
			             $().ready(function(){
			            	 $(".clean").click(function(){
			            		 layer.confirm('清理缓存么?', {
			            				icon:3,btn: ['清理','不了'] //按钮
			            			}, function(){
			            				$.ajax({
			            					url:"__APP__/Index/cleanCache",
			            					type:"post",
			            					beforeSend:function(){
			            						$a=$(".clean-warn").html();
			            						$(".layui-layer-dialog .layui-layer-padding").css("padding","20px")
			            						$(".layui-layer-content").html($a+"<p style='text-align:center;'>玩命清理中</p>");
			            						$(".layui-layer-btn").hide();
			            					},
			            					success:function(re){
			            						if(re=="success"){
			            							layer.msg("清理成功！");
			            						}else{
			            							layer.msg("清理失败！");
			            						}
			            						$(".layui-layer-btn1").trigger("click");
			            					}
			            				})
			            			});
			            	 })
			             })
			             </script>
			        	</li>
                        <li>
				             <a title="退出" onclick="del('<{:U('Public/out')}>','您确定退出系统么？','3','退出')">
				                 <i class="fa fa-sign-out"></i>
				             </a>
				        </li>
                        <!-- <li class="dropdown hidden-xs">
                            <a class="right-sidebar-toggle" aria-expanded="false">
                                <i class="fa fa-gears"></i> 设置
                            </a>
                        </li> -->
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs" style="display:block;">
                <!-- <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-chevron-left"></i>
                </button> -->
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="<{:U('Index/home')}>">导航页</a>
                    </div>
                </nav>
                <!-- <button class="roll-nav roll-right J_tabRight" style="right:80px;"><i class="fa fa-chevron-right"></i>
                </button> -->
                <!-- <div class="btn-group roll-nav roll-right" style="right:0px;"> -->
                    <!-- <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button> -->
                    <!-- <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div class="row J_mainContent content" id="content-main" >
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="<{:U('Index/home')}>" frameborder="0" data-id="<{:U('Index/home')}>" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">&copy; 好视力眼镜<a href="" target="_blank"></a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
        <!--右侧边栏开始-->
        <div id="right-sidebar">
            <div class="sidebar-container">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="skin-setttings">
                            <div class="title">主题设置</div>
                            <div class="setings-item">
                                <span>收起左侧菜单</span>
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                                        <label class="onoffswitch-label" for="collapsemenu">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="setings-item">
                                <span>固定顶部</span>

                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                                        <label class="onoffswitch-label" for="fixednavbar">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="setings-item">
                                <span>
                        固定宽度
                    </span>

                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                                        <label class="onoffswitch-label" for="boxedlayout">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
<!-- 这是提醒的方法 -->
     <script type="text/javascript">
  //       $(function () {
  //       	setInterval("getRemindNum()", 24*3600);//获得提醒数量
  //       })
        
  //       //获得提醒的数量
  //       function getRemindNum(){
  //       	$.ajax({
  //   			url:'__APP__/Message/getMessageNum',
  //   			type:'post',
  //   			data:'json',
  //   			success:function(json){
  //   				$(".noread").html(json.noread);//未读数量
  //   				for (var i = 0; i < json.message.length; i++) {
  //   					$("#music").html("<audio src='__ROOT__/Public/Common/music/order.mp3'  autoplay='autoplay'></audio>");
  //   					var sid=json.message[i]['sid'];
  //   					var title=json.message[i]['title'];
  //   					var url=json.message[i]['url'];
  //   				    var msg=json.message[i]['content'];
  //   				    var content=msg.substring(0,50);
    				    
  //   				    if(url==""){
  //   				    	var title="<a style='color:white;' title='查看详情' href='__APP__/Message/messageInfo/action/receive/sid/"+sid+".html' target='_blank'>"+title+"</a>";
  //       				    var content="<a style='color:white;' title='查看详情' href='__APP__/Message/messageInfo/action/receive/sid/"+sid+".html' target='_blank'>"+content+"</a>";	
  //   				    }else{
  //   				    	var title="<a class='J_menuItem' style='color:white;' title='查看详情' href='"+url+"' target='_blank'>"+title+"</a>";
  //       				    var content="<a class='J_menuItem' style='color:white;' title='查看详情' href='"+url+"' target='_blank'>"+content+"</a>";
  //   				    }
  //   				    remind(title,content);
  //   				}
  //   			}
  //   		})//ajax的结束
  //       }
        
  //       //执行提醒
  //       function remind(title,msg,timeOut){
  //       	 var i = -1;
  //            var toastCount = 0;
  //            var $toastlast;
  //            var remind_type="<{$CONFIG.REMIND_TYPE}>";//提醒类型
  //            var remind_position="<{$CONFIG.REMIND_POSITION}>";//提醒位置
  //            var showEasing="<{$CONFIG.SHOWEASING}>";//显示动画
  //            var hideEasing="<{$CONFIG.HIDEEASING}>";//隐藏动画
  //            var showMethod="<{$CONFIG.SHOWMETHOD}>";//显示方法
  //            var hideMethod="<{$CONFIG.HIDEMETHOD}>";//隐藏方法
  //            var timeOut="<{$CONFIG.TIMEOUT}>";//超时
  //            var extendedTimeOut="<{$CONFIG.EXTENDEDTIMEOUT}>";//延长时间
  //            var isprogressbar="<{$CONFIG.PROGRESSBAR}>";//是否显示进度条
  //            if(isprogressbar=="true"){
  //           	 isprogressbar=true; 
  //            }else if(isprogressbar=="false"){
  //           	 isprogressbar=false; 
  //            }
             
  //            var iscloseButton= "<{$CONFIG.CLOSEBUTTON}>";//是否显示关闭按钮
  //            if(iscloseButton=="true"){
  //           	 iscloseButton=true; 
  //            }else if(iscloseButton=="false"){
  //           	 iscloseButton=false; 
  //            }
             
  //            var toastIndex = toastCount++;
  //            toastr.options = {
  //                closeButton: iscloseButton,
  //                debug: true,
  //                progressBar:  isprogressbar,
  //                positionClass: remind_position,
  //                onclick: null
  //            };
             
  //            toastr.options.showDuration = remind_type;
  //            toastr.options.hideDuration =remind_position;
  //            toastr.options.showEasing = showEasing;
  //            toastr.options.hideEasing = hideEasing;
  //            toastr.options.showMethod = showMethod;
  //            toastr.options.hideMethod = hideMethod;
  //            toastr.options.timeOut = timeOut;
  //            toastr.options.extendedTimeOut = extendedTimeOut;
  //            var $toast = toastr[remind_type](msg, title); // Wire up an event handler to a button in the toast, if it exists
  //            $toastlast = $toast;
		// }
    </script>
</body>
</html>