<!DOCTYPE html>
<html>
<head>
<include file="Public:metas"/>
</head>

<body>
    <div>
        <div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10" id="biaoti">
                    <ol class="breadcrumb" style="margin-top:20px;">
                        <li>
                            	用户管理
                        </li>
                        <li>
                            <strong><{$meta_title}></strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2" id="fubiaoti">
					<a href="<{:U('User/expertList',array('types'=>$types))}>" class="btn btn-xs btn-primary">艺术顾问列表</a>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                    
                    	<div class="panel blank-panel">

                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
										<li class="active">
											<a href="#basic"  data-toggle="tab">
												基本信息
											</a>
										</li>
									</ul>
									
									<form id="signupForm" action="<{:U()}>"  method="post" class="form-horizontal m-t" enctype="multipart/form-data">
									<div class="tab-content">
										<div class="tab-pane active" id="basic">
											
											  <div class="form-group">
			                                        <label class="col-sm-2 control-label"> 艺术顾问头像：</label>
			                                        <div class="col-sm-2">
			                                            <div class="details" style="width:100px;">
										                   <div style='border:0px solid red;position:relative;'><!-- 第一张-->
																	<div class='yulan yulan1'></div><!-- 预览  -->
																	<div class='detail detail1'><!--预览详细和关闭  -->
																		<div>
																		<a title=''  rel="1" class='close close1'>×</a>
																		</div>
																		<div>
																		<a class="picture picture1" id="1" title="图片预览">
																		查看
			                               								</a>
																		</div>
																	</div>
																	<div><input type="file" name="picture"  value='' class="inputimg inputimg1" id="1" /></div><!-- input插入 -->
														  </div>
										                </div>
			                                        </div>
			                                        <div class="col-sm-3">
			                                            <if condition="$data.picture neq null">
			                                			<a class="fancybox"  href="__ROOT__<{$data.picture}>" title="{$data.title}>">
			                            					<img alt="image" class="feed-photo" style="border:0px solid red;width:100px;height:100px;" src="__ROOT__<{$data.picture}>" />
			                       						</a>
			                       						</if>
			                                        </div>
			                                    </div>
			                                    
			                                    <!--水印种类  -->
			                                    <include file="Public:water2"/>
			                                    <!--水印种类  -->
			                                    
			                                    <div class="form-group">
			                                        <label class="col-sm-2 control-label"> 姓名：</label>
			                                        <div class="col-sm-8">
			                                            <input name="name" value="<{$data.name}>"  class="form-control" type="text" maxlength="20">
			                                        </div>
			                                    </div> 
			                                    
			                                    <div class="form-group">
			                                        <label class="col-sm-2 control-label"> 人物背景：</label>
			                                        <div class="col-sm-8">
			                                            <textarea name="background" class="form-control"><{$data.background}></textarea>
			                                        </div>
			                                    </div>
			                                    
			                                    <div class="form-group">
			                                        <label class="col-sm-2 control-label"> 相关著作及成就：</label>
			                                        <div class="col-sm-8">
			                                            <textarea name="works" class="form-control"><{$data.works}></textarea>
			                                        </div>
			                                    </div>
			                                    
			                                    <div class="form-group">
			                                        <label class="col-sm-2 control-label"> 详细介绍：</label>
			                                        <div class="col-sm-8">
			                                            <textarea name="detail" class="form-control"><{$data.detail}></textarea>
			                                        </div>
			                                    </div>
			                                    
			                                    <div class="form-group">
			                                        <label class="col-sm-2 control-label"> 人物评价：</label>
			                                        <div class="col-sm-8">
			                                            <textarea name="comment" class="form-control"><{$data.comment}></textarea>
			                                        </div>
			                                    </div>
										</div>
										
								 	</div>
								 	
								 	<div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                        	<input name="id" value="<{$data.id}>" type="hidden">
                                            <button class="btn btn-sm btn-primary" type="submit">保存</button>
                                          	<button class="btn btn-sm btn-warning" type="reset">重置</button>
                                        </div>
                                    </div>
		                                    
								 	</form>
                                </div>
                            </div>
                        </div>
	                </div>
	                
                </div>

            </div>
            <!--上传图片  -->
            <include file="Public:upload"/>
            <!--上传图片  -->
        </div>
    </div>
    <!-- 放置图片显示的 -->
    <div style="display:none;padding:10px;" class="open1">
	<img src="" alt="" class="fancybox-image carousel-inne img-rounded img-responsive openimg1"/>
	</div>
	<script type="text/javascript" src='__ROOT__/Public/Kindeditor/kindeditor.js'></script>
	<script type="text/javascript">
	  	 var editor;//编辑器的调用对象
	  	 	KindEditor.ready(function(e){
	      	 editor=e.create(".content",{
			"width":"100%",
			"height":"500px",
			"items":[
			         'source', '|', 'undo', 'redo', '|', 'preview', 'justifyleft', 'justifycenter', 'justifyright',
			         'justifyfull',  'indent', 'outdent',  'clearhtml', 'selectall', '|',
			         'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
			         'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|','image',
			         'hr', 'emoticons',
			         'anchor', 'link', 'unlink','|'
			 ],
			 afterBlur: function(){this.sync();}
	          	});
	  		 });
	</script>
</body>
</html>