<!DOCTYPE html>
<html>
<head>
    <include file='Public:metas'/>
	<style>
	.title{width:22%;font-size:13px;padding:8px;margin-right:10px;float:left;}
	</style>
</head>

<body style='background:white;'>
	<!-- 尾部项 -->
    <include file="Public:footer"/>
    <!-- 尾部项 -->
    <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>找回密码</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="ibox-content">
                            	<div style="overflow:auto;zoom:1;width:100%;">
                            		 <div class="panel title" style="color:white;background:#6fd1bd;">1.填写用户名</div>
                                	 <div class="panel title" style="color:#aaa;background:#6fd1bd;color:white;">2.设置新密码</div>
                            		 <div class="panel title" style="color:#aaa;background:#1AB394;color:white;">3.完成</div>
                            		 
                            	</div>
                               
                              
                                        <div class="row panel" style="background:#EEEEEE;border:0px solid red;margin:0px 0px;padding:50px;">
                                            <div class="col-lg-6">
                                                
                                                <div class="form-group">
                                                    <div style="font-size:15px;">
                                                    	恭喜您，修改密码成功!&nbsp;
                                                    	<a href="<{:U('Public/login')}>">点击登录</a>
                                                    </div>  
                                                </div>
                                            </div>
                                            
                                        </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</body>
</html>