<!DOCTYPE html>
<html>
<head>
<title></title>
<include file='Public:meta'/>
</head>
<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>

        <div class="error-desc">
           	 <div>抱歉，页面好像去火星了~</div>
             <a  class="btn btn-primary" href="<{:U('Public/login')}>" style='width:100%;margin-top:10px;'>
             <i class='fa fa-mail-reply'></i>
            	返回登录
             </a>
        </div>
    </div>
</body>
</html>