<!DOCTYPE html>
<html>

<head>
<include file="Public:metas"/>
</head>

<body>
    <div>
        <div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10" id="biaoti">
                    
                    <ol class="breadcrumb" style="margin-top:20px;">
                        <li>
                            网站管理
                        </li>
                        <li>
                            <strong><{$meta_title}></strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2" id="fubiaoti">
					<a href="<{:U('Config/webSetList',array('action'=>'list'))}>" class="btn btn-xs btn-primary">网站分类列表</a>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                
                <div class="row">
                    
                    <div class="col-lg-12">
	                    <div class="panel panel-primary">
	                        <div class="panel-heading">
	                            	<{$meta_title}>
	                        </div>
	                        <div class="panel-body">
	                        	 <form action="<{:U()}>" method="post" class="form-horizontal m-t" id="signupForm">
                                    
                                    
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"><font color="#a40000">*</font>网站分类名称：</label>
                                        <div class="col-sm-7">
                                            <input id="title" name="title" class="form-control" type="text" value="<{$data.title|default=''}>" maxlength="255">
                                            <input id="oldtitle" type="hidden" value="<{$data.title}>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">网站分类描述：</label>
                                        <div class="col-sm-7">
                                            <input name="description" class="form-control" type="text" value="<{$data.description|default=''}>" maxlength="255">
                                        </div>
                                    </div> 
                                    
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"><font color="#a40000">*</font> 排序：</label>
                                        <div class="col-sm-1">
                                            <input  name="sort" class="form-control" type="text" value="<{$data.sort|default='0'}>" maxlength="10">
                                        </div>
                                        <div class="col-sm-3 sort comm">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"><font color="#a40000">*</font> 状态：</label>
                                        <div class="col-sm-3">
                                       	    <div class="radio radio-success" >
                                                <input type="radio" name="status" id="status1" value="1" checked=''>
                                                <label for="status1">
                                                  	  正常
                                                </label>
                                            </div>
                                            <div class="radio radio-danger">
                                                <input type="radio" name="status" id="status0" value="0">
                                                <label for="status0">
                                               		   禁用
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-3">
                                        	<input type="hidden" value="<{$data.id|default=''}>" name="id"/>
                                            <button class="btn btn-sm btn-primary" type="submit">保存</button>
                                            <button class="btn btn-sm btn-warning" type="reset">重置</button>
                                        </div>
                                    </div>
                                </form>
	                        </div>
	                    </div>
	                </div>
	                
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
	    $("#status<{$data.status}>").prop("checked","checked");//状态
     </script>
	 <script>
	 
        //以下为修改jQuery Validation插件兼容Bootstrap的方法，没有直接写在插件中是为了便于插件升级
        //以下为官方示例
        $().ready(function () {
        	//设置默认选项的
        	
            // validate the comment form when it is submitted
            $("#commentForm").validate();

			var id=$("[name='id']").val();
            
            if(!id){
            	 // validate signup form on keyup and submit
                $("#signupForm").validate({
                    rules: {
                    	 title: {
                             required: true,
                             rangelength:[1,255],
                             remote: {
	                              url: "__APP__/Admin/checkOnly",
	                              type: "post",
	                              dataType: "json",
	                              data: {
	                                  tablename: function () {
	                                      return "ad_position";　　　　//数据表名称
	                                  },
	                                  fieldname: function () {
	                                      return "title";　　　　//要查找的字段
	                                  },
	                                  value: function () {
	                                      return $("#title").val();　　　　//新值
	                                  }
	                              },
	                              dataFilter: function (msg) {　　　　//判断控制器返回的内容
	                            	  if (msg == "1") {
	                                      return true;
	                                  }
	                                  else {
	                                      return false;
	                                  }
	                              }
	                          }
                         },
                         sort: {
                            required: true,
                            digits:true
                         }
                        
                    },
                    messages: {
                    	title: {
                            required: no+"请输入网站分类名称",
                            rangelength:no+"网站分类名称,1-255位字符",
                            remote:no+"此名称已经存在",
                        },
                        sort: {
                            required: no+"请输入排序",
                            digits:no+"请输入整数"
                        }
                    },
                    onfocus: false,　　　　
                    onkeyup: false,　　　　//这个地方要注意，修改去控制器验证的事件。
                    onsubmit: true
                });
            }else{
            	 // validate signup form on keyup and submit
                $("#signupForm").validate({
                    rules: {
                    	 title: {
                             required: true,
                             rangelength:[1,50],
                             remote: {
	                              url: "__APP__/Admin/checkOnly",
	                              type: "post",
	                              dataType: "json",
	                              data: {
	                                  tablename: function () {
	                                      return "ad_position";　　　　//数据表名称
	                                  },
	                                  fieldname: function () {
	                                      return "title";　　　　//要查找的字段
	                                  },
	                                  value: function () {
	                                      return $("#title").val();　　　　//新值
	                                  },
	                                  oldvalue: function () {
	                                      return $("#oldtitle").val();　　　　//老值
	                                  }
	                              },
	                              dataFilter: function (msg) {　　　　//判断控制器返回的内容
	                            	  if (msg == "1") {
	                                      return true;
	                                  }
	                                  else {
	                                      return false;
	                                  }
	                              }
	                          }
                         },
                         sort: {
                            required: true,
                            digits:true
                         }
                        
                    },
                    messages: {
                    	title: {
                            required: no+"请输入网站分类名称",
                            rangelength:no+"网站分类名称,1-255位字符",
                            remote:no+"此名称已经存在",
                        },
                        sort: {
                            required: no+"请输入排序",
                            digits:no+"请输入整数"
                        }
                    },
                    onfocus: false,　　　　
                    onkeyup: false,　　　　//这个地方要注意，修改去控制器验证的事件。
                    onsubmit: true
                });
            }
        });
    </script>
</body>
</html>