<!DOCTYPE html>
<html>
<head>
<include file="Public:metas"/>
<script>
 $(function() {
   $("#<{$action}>").addClass("<{$btn}>");
   var action="<{$action}>";
   if(action=="sort"){
     changeSort("goods","id","sort");
   } 
   
   //默认显示
 });
</script>
</head>
<body>
    <div>
        <div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10" id="biaoti">
                    
                    <ol class="breadcrumb" style="margin-top:20px;">
                        <li>
                            	镜片管理
                        </li>
                        <li>
                            <strong><{$meta_title}></strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2" id="fubiaoti">
					<a href="<{:U('Lens/userLensAdd')}>" class="btn btn-xs btn-primary">新增配镜</a>
                </div>
            </div>
            
            
            <div class="wrapper wrapper-content animated fadeInRight">
            	<div style="margin-bottom:10px;">
				    <form action='' method='get' id='signupForm'>
				    <div style="margin-bottom:20px;">
				    
                                    
            <div class=" m-b-xs">
                <span>客户<font class="lens_l" style="font-weight:bold;color:red"><{$user.name}></font>的配镜信息：</span>
            </div>
                                    
				    </div>
				    </form>
			    </div>
            	<form action="<{:U('Goods/goodsHandle')}>" method="post">
             
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            
                            <div class="ibox-content">
                                
                                <div class="table-responsive">
                                	<if condition="$types eq 'chose-order-goods'">
                                    <a class="btn btn-sm btn-info addOrder">
                                            	确认选择
                                    </a>&nbsp;
                                    </if>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <if condition="$action eq sort">
                                                <th></th>
                                                </if>
                                                
                                                <th>ID</th>
                                                <th>镜片</th>
                                                <th>类型</th>
                                                <th>裸眼视力</th>
                                                <th>球镜</th>
                                                <th>柱镜</th>
                                                <th>轴位</th>
                                                
                                                
                                                <th>矫正视力</th>
                                                <th>原镜度</th>
                                                <th>瞳高(规格)</th>
                                                <th>瞳距(规格)</th>

                                                <!-- <th>瞳高规格</th>
                                                <th>瞳距规格</th> -->

                                                <th>镜架价格</th>
                                                <th>镜片价格</th>
                                                <th>优惠价格</th>
                                                <th>总价格</th>
                                                <th>配镜时间</th>

                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="sortable">
                                        
                                        	<volist name="list" id="v">
                                            <tr class="grade0 one" name="<{$v.id}>" <if condition="$action eq sort">style="cursor:move;"</if>>

                                              <if condition="$action eq sort">
                                                <td id="0_<{$v.id}>" class="td_click">
                                                <i class="fa fa-arrows"></i>
                                                </td>
                                              </if>
                                                
                                                
                                                
                                                
                                                <td>
                                                	<{$v.id}>
                                                </td>


                                                <td>
                                                  <if condition="$v.lens_l_name neq '' AND $v.lens_r_name neq ''">
                                                  L:<{$v.lens_l_name}>/R:<{$v.lens_r_name}>
                                                  <elseif condition="$v.lens_l_name neq '' AND $v.lens_r_name eq ''" />
                                                  L:<{$v.lens_l_name}>

                                                  <elseif condition="$v.lens_l_name eq '' AND $v.lens_r_name neq ''" />
                                                  R:<{$v.lens_r_name}>

                                                  </if>
                                                </td>
                                                
                                                
                                                <td>
                                                <if condition="$v.type eq 1">
                                                近用
                                                <else />
                                                远用
                                                </if>
                                                    
                                                </td>
                                                
                                                <td>
                                                    <{$v.naked_eyesight}>
                                                </td>
                                                
                                                <td>
                                                    <{$v.ball_mirror}>
                                                </td>
                                                
                                                <td>
                                                    <{$v.column_mirror}>
                                                </td>
                                                
                                                <td>
                                                    <{$v.shaft_position}>
                                                </td>
                                                
                                              
                                                
                                                <td>
                                                    <{$v.correct_eyesight}>
                                                </td>
                                                
                                                <td>
                                                    <{$v.original_mirror_degrees}>
                                                </td>
                                                
                                                <td>
                                                    <{$v.pupil_hight}>(<{$v.pupil_hight_sp}>)
                                                </td>
                                                
                                                <td>
                                                    <{$v.pupil_distance}>(<{$v.pupil_distance_sp}>)
                                                </td>
                                                
                                                <!-- <td>
                                                    <{$v.pupil_hight_sp}>
                                                </td>
                                                
                                                <td>
                                                    <{$v.pupil_distance_sp}>
                                                </td> -->

                                                <td>
                                                    <{$v.frame_price}>
                                                </td>

                                                <td>
                                                    <{$v.lens_price}>
                                                </td>

                                                <td>
                                                    <{$v.pref_price}>
                                                </td>
                                                
                                                <td>
                                                		<{$v.total_price}>
                                                </td>

                                                <td style="padding-top:10px;">
                                                  <{$v.gls_time|date="Y-m-d H:i:s",###}>
                                                </td>
                                                

                                                <td style="padding-top:10px;">
                                                	
                                                	<a data-toggle="tooltip" data-placement="top" title="修改" class="btn btn-sm btn-info" href="<{:U('Lens/userLensEdit',array('id'=>$v['id']))}>">
                                                	<i class="fa fa-edit"></i>&nbsp;
                                                	</a>&nbsp;
                                                	
                                                  
                                                </td>
                                            </tr>
                                            </volist>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                <div class="text-center">
                                    <if condition='$page neq null'>
                                    	<{$page}>
                                    <else/>
                                    	共<{$count}>条记录
                                    </if>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    $().ready(function(){
    	$("#status<{$status}>").prop("selected","selected");
      $("#is_best<{$is_best}>").prop("selected","selected");
      $("#is_enquiry<{$is_enquiry}>").prop("selected","selected");
      $("#is_sell<{$is_sell}>").prop("selected","selected");
      $("#artist_id<{$artist_id}>").prop("selected","selected");
      $("#cat_id<{$cat_id}>").prop("selected","selected");
      $("#sub_id<{$sub_id}>").prop("selected","selected");
      $("#is_new<{$is_new}>").prop("selected","selected");
      $("#is_best<{$is_best}>").prop("selected","selected");
      $("#is_discount<{$is_discount}>").prop("selected","selected");
    	
    	//修改库存
    	$(".is_sell").change(function(){
    		var id=$(this).attr("id");//商品id
    		//var is_sell=$(this).val();//新库存
       //alert(123);
    		//if(is_sell==0){
    			$.ajax({
        			url:"__APP__/Goods/updateSell",
        			type:"post",
        			//data:"id="+id+"&is_sell="+is_sell,
              $data:"id="+id,
        			success:function(re){
        				if(re!="success"){
        					layer.msg(re);
        				}
        			},
        			error:function(){
        				layer.msg("错误,稍后重试！");
        			}
        		})
    		// }else{
    		// 	$(this).focus();
    		// 	layer.msg("库存数只能为数字！");
    		// }
    	})
    	
    	
    	//确认选择参与抢购的商品
   		$(".add").click(function(){
       		var gid=$(this).attr("rel");
       		var name=$(this).attr("name");
       		var price=$(this).attr("id");
       		window.parent.call_back(gid,name,price);
       	})
       	
       	//确认选择参与添加订单
   		$(".addOrder").click(function(){
   			/* var ids="";
       	 	$("[name='check[]']:checked").each(function(){
       	   		var a=$(this).val();
       	   		if(ids!=""){
       	   			ids+=","+a;
       	   		}else{
       	   			ids+=a;
       	   		}
       	  	}); */
       		
       		var gid=$(this).attr("id");
       		var name=$(this).attr("name");
       		var price=$(this).attr("price");
       		var is_sell=$(this).attr("is_sell");
          var enquiry_price = $(this).attr("enquiry_price");
       		//is_sell=is_sell-1;
       		// $(this).attr("title",is_sell);
       	  	// console.log(is_sell);
       		window.parent.call_back_goods(gid,name,price,is_sell,enquiry_price);
       	})
    	
    	
    	//上下架
    	$(".status").click(function(){
       		var id=$(this).attr("id");//这是数据id
       		var status=$(this).attr("name");//这是当前状态 0禁用1正常
       		changeStatusOne('goods','id',id,status);
       	})   
       	
       	//专家推荐
       	$(".expert").click(function(){
       		var id=$(this).attr("id");//这是数据id
       		var status=$(this).attr("name");//这是当前状态 0禁用1正常
       		changeStatusOne('goods','id',id,status,"expert");
       	})  
       	
        //名画推荐
       	$(".painting").click(function(){
       		var id=$(this).attr("id");//这是数据id
       		var status=$(this).attr("name");//这是当前状态 0禁用1正常
       		changeStatusOne('goods','id',id,status,"painting");
       	})  
       	
        //是否新品
       	$(".is_new").click(function(){
       		var id=$(this).attr("id");//这是数据id
       		var status=$(this).attr("name");//这是当前状态 0禁用1正常
       		changeStatusOne('goods','id',id,status,"is_new");
       	})  

        //是否精品
        $(".is_best").click(function(){
          var id=$(this).attr("id");//这是数据id
          var status=$(this).attr("name");//这是当前状态 0禁用1正常
          changeStatusOne('goods','id',id,status,"is_best");
        })
       	
        //是否热销
       	$(".is_hot").click(function(){
       		var id=$(this).attr("id");//这是数据id
       		var status=$(this).attr("name");//这是当前状态 0禁用1正常
       		changeStatusOne('goods','id',id,status,"is_hot");
       	})  
        //是否代表作
        $(".is_masteropus").click(function(){
          var id=$(this).attr("id");//这是数据id
          var status=$(this).attr("name");//这是当前状态 0禁用1正常
          changeStatusOne('goods','id',id,status,"is_masteropus");
        })

        //是否是询价商品
        $(".is_enquiry").click(function(){
          var id=$(this).attr("id");//这是数据id
          var status=$(this).attr("name");//这是当前状态 0禁用1正常
          changeStatusOne('goods','id',id,status,"is_enquiry");
        })

        //是否询价中
        $(".enquiring").click(function(){
          var id=$(this).attr("id");//这是数据id
          var order_status = $(this).attr("order_status");
          var status=$(this).attr("name");//这是当前状态 0禁用1正常
          if(1==order_status && 1==status){
               alert('该商品已经下单！');return;
          }
          changeStatusOne('goods','id',id,status,"enquiring");
        })

        //是否是折扣商品
        $(".is_discount").click(function(){
          var id=$(this).attr("id");//这是数据id
          var status=$(this).attr("name");//这是当前状态 0禁用1正常
          changeStatusOne('goods','id',id,status,"is_discount");
        })

        //是否活动
        $(".is_activity").click(function(){
          var id=$(this).attr("id");//这是数据id
          var status=$(this).attr("name");//这是当前状态 0禁用1正常
          changeStatusOne('goods','id',id,status,"is_activity");
        })








    })
    </script>
</body>

</html>
