<!DOCTYPE html>
<html>
<head>
<include file="Public:metas"/>
</head>
<body>
    <div>
        <div>
             <div class="wrapper wrapper-content">
                <div class="row animated fadeInRight">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:none;">

                                <div class="row">

                                	<a href="<{:U('Column/schoolList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 lazur-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 学校管理 </h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>

				               		<a href="<{:U('Column/bankcardList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 navy-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 提现银行卡管理</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>

				               		<a href="<{:U('Column/phoneList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 yellow-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 手机品牌管理</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>


				               		<a href="<{:U('Column/computerList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 lazur-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 电脑品牌管理</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>


				               		<a href="<{:U('Column/secondHandList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 navy-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 二手物品分类管理</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>


				               		<a href="<{:U('Column/logisticsList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 yellow-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 快递代取物流管理</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>
				               		
				               		
				               		<a href="<{:U('Column/recruittypeList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 navy-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 招聘职位种类</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>
				              

				               		<a href="<{:U('Column/flowerTypeList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 yellow-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 花材种类管理</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>

				               		<a href="<{:U('Column/trainingTypeList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 lazur-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 教育培训课程管理</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>
				               		
				               		
				               		<a href="<{:U('Column/foodtypeList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 navy-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 聚餐占座美食分类</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>
				               		
				               		
				               		<a href="<{:U('Column/reasonList',array('action'=>'list'))}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 yellow-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 故障原因</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>
				               		
				               		
				               		<a href="<{:U('Column/schoolUser')}>">
	                                <div class="col-sm-2">
				                        <div class="widget style1 navy-bg">
				                            <div class="row">
				                                <div class="col-xs-4">
				                                    <i class="fa fa-envelope-o fa-3x"></i>
				                                </div>
				                                <div class="col-xs-8 text-right">
				                                    <h4> 学校注册人数统计</h4>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				               		</a>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>